.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

#loginForm {
  width: 100%;
  max-width: 20em;
  padding: 1em;
  margin: auto;
  // padding-top: 15em;
}

.email, .password {
  width: 100%;
  margin-bottom: 1em;
}

.logo {
  width: 5em;
  margin-bottom: 1em;
  transform: rotate(45deg);

}

.logo-path {
  fill: #673ab7;
}

.login-header{
  text-align: center;
  margin-top: auto;
  margin-bottom: 1em;
}

.site-name {
  font-size: 2.5em;
  font-weight: 10;
  margin-bottom: 0.5em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
