@if (group) {
  <div>
    <div class="page-title">
      <h1>{{ group.name }}</h1>
    </div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Overview">
        <div class="overview-tab">
          <p>{{ group.description }}</p>
        </div>
      </mat-tab>
      <mat-tab label="Members">
        @if (isAllowed('get_members')) {
          <app-member-list [group]="group" [memberList]="group.members"></app-member-list>
        }
      </mat-tab>
      <mat-tab label="Policies">
        @if (isAllowed('get_policies')) {
          <app-policy-list [group]="group" [policyList]="group.policies"></app-policy-list>
        }
      </mat-tab>
      <mat-tab label="Setting">Permissions and other settings</mat-tab>
    </mat-tab-group>
  </div>
}