<app-dialog [dialogTitle]="title" [dialogButtons]="buttons">
    <form>
        <mat-form-field class="chip-list">
            <mat-label>Account to add</mat-label>
            <mat-chip-grid #chipGrid aria-label="Account selection">
                @for (account of accounts; track account) {
                <mat-chip-row (removed)="remove(account)" highlighted>
                    {{account.first_name}} {{account.last_name}} ({{account.email}})
                    <button matChipRemove [attr.aria-label]="'remove ' + account">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
            <input placeholder="Select Account..." #accountInput [formControl]="accountCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
            <!-- (matChipInputTokenEnd)="add($event)"/> -->
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
                @for (account of filteredAccounts | async; track account) {
                <mat-option [value]="account">
                    {{account.first_name}} {{account.last_name}} ({{account.email}})
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </form>
</app-dialog>