.title {
  text-align: center;
}

.content {
  min-width: 20em;
}

.form-field {
  width: 100%;
  // margin-bottom: 20px;
}

.action {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.button {
  width: 40%;
}
