
<div *ngIf="workspace">
  <div class="page-title">
    <div></div>
    <h1>Workspace {{ workspace.name }}</h1>
    <div></div>
  </div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Overview">
      <div class="overview-tab">
        {{ permissions }}
      </div>
    </mat-tab>
    <mat-tab *ngIf="can_get_policies" label="Policies">
      <app-policy-list *ngIf="workspace_id" [workspace]="workspace" [can_set_policies]="can_set_policies"></app-policy-list>
    </mat-tab>
    <mat-tab *ngIf="can_get_members" label="Members">
      <app-member-list *ngIf="workspace_id" [workspace]="workspace" [can_add_members]="can_add_members"></app-member-list>
    </mat-tab>
    <mat-tab *ngIf="can_get_groups" label="Groups">
      <app-group-list *ngIf="workspace_id" [workspace_id]="workspace_id" [can_create_groups]="can_create_groups"></app-group-list>
    </mat-tab>
    <!-- <mat-tab label="Setting">Permissions and other settings</mat-tab> -->
  </mat-tab-group>
</div>