<div *ngIf="workspace">
  <div class="page-title">
    <h1>{{ workspace.name }}</h1>
  </div>
  <mat-tab-group animationDuration="0ms">
    <!-- <mat-tab label="Overview" *ngIf="workspace">
      <div class="overview-tab">
        {{ workspace.description }}
      </div>
    </mat-tab> -->
    <mat-tab label="Polls">
      <app-poll-list [workspace]="workspace" [pollList]="workspace.polls"></app-poll-list>
    </mat-tab>
    <mat-tab *ngIf="isAllowed('get_policies')" label="Policies">
      <app-policy-list [workspace]="workspace" [policyList]="workspace.policies"></app-policy-list>
    </mat-tab>
    <mat-tab *ngIf="isAllowed('get_members')" label="Members">
      <app-member-list [workspace]="workspace" [memberList]="workspace.members"></app-member-list>
    </mat-tab>
    <mat-tab *ngIf="isAllowed('get_groups')" label="Groups">
      <app-group-list [workspace]="workspace" [groupList]="workspace.groups"></app-group-list>
    </mat-tab>
    <!-- <mat-tab label="Setting">Permissions and other settings</mat-tab> -->
  </mat-tab-group>
</div>