<div *ngIf="workspace">
  <div class="workspace-header">
    <div class="workspace-header title">
      <h1>{{workspace.name}}</h1>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Overview">
      <div class="overview-tab">
        <h2>Description</h2>
        <p>{{workspace.description}}</p>
        <h2>Other Information</h2>
        <h3>Owner</h3>
        <p><strong>Name:</strong> {{ workspace.owner.first_name }} {{ workspace.owner.last_name }} </p>
        <p><strong>Email:</strong> {{ workspace.owner.email }} </p>
      </div>
    </mat-tab>
    <mat-tab label="Polls">

    </mat-tab>
    <mat-tab label="Members">
      <app-member-list *ngIf="workspace_id" [workspace_id]="workspace_id"></app-member-list>
    </mat-tab>
    <mat-tab label="Groups">
      <app-group-list *ngIf="workspace_id" [workspace_id]="workspace_id"></app-group-list>
    </mat-tab>
    <mat-tab label="Setting">Permissions and other settings</mat-tab>
  </mat-tab-group>
</div>