@use '@angular/material' as mat;
@import 'src/app/app.component.scss';
// @import 'src/styles.scss';

.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle-group {
  height: 36px;
  ::ng-deep >.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px !important;
  }
}

.create_button {
  color: #fff;
  background-color: #4CAF50;
}
