@if (workspace) {
<div>
    <div class="page-title">
        <h1>{{ workspace.name }}</h1>
    </div>
    <mat-tab-group animationDuration="0ms">
        <!-- <mat-tab label="Overview" *ngIf="workspace">
      <div class="overview-tab">
        {{ workspace.description }}
      </div>
    </mat-tab> -->
        <!-- @if (isAllowed('get_policies')) { -->
        <mat-tab label="Polls">
            <poll-list [workspace]="workspace" [pollList]="workspace.polls"></poll-list>
        </mat-tab>
        <!-- } -->
        @if (isAllowed('get_policies')) {
        <mat-tab label="Policies">
            <policy-list [workspace]="workspace" [policyList]="workspace.policies"></policy-list>
        </mat-tab>
        }
        @if (isAllowed('get_members')) {
        <mat-tab label="Members">
            <member-list [workspace]="workspace" [memberList]="workspace.members"></member-list>
        </mat-tab>
        }
        @if (isAllowed('get_groups')) {
        <mat-tab label="Groups">
            <group-list [workspace]="workspace" [groupList]="workspace.groups" (groupEvent)="eventHandler($event)"></group-list>
        </mat-tab>
        }
        <!-- <mat-tab label="Setting">Permissions and other settings</mat-tab> -->
    </mat-tab-group>
</div>
} @else {
    <app-page-loading-spinner [loading_message]="'Loading Workspace'" [error_message]="'Could not load the workspace'"></app-page-loading-spinner>
}