
table {
  margin-top: 56px;
  width: 100%;
  border-collapse: collapse;
}

.owner-icon {
  font-size: 20px;
  color: gold;
}

.workspace-card-header {
  padding: 0;
}

.table-header {
  text-transform: capitalize;
  text-align: center;
}

.table-cell {
  text-align: center;
}

tr.workspace-row:hover {
  background: whitesmoke;
}

tr.workspace-row:active {
  background: #efefef;
}

.paginator {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.filter-field {
  font-size: 14px;
  width: 100%;
  position: absolute;
}

.workspace-header {
  margin: 1em;
}

.workspace-header.title {
  display: flex;
  justify-content: space-between;
}

.table-option-cell {
  text-align: right;
}

.error {
  justify-content: center;
  display: flex;
  height: 100vh;
  align-items: center;
}

.error.title {
  font-size: 20px;
}

.overview-tab {
  margin: 2rem;
}