<!-- <div [ngClass]="{'mat-elevation-z1': viewToggle.value == 'table'}"> -->
    
    @if (viewMode == 'table') {
    <mat-form-field>
        <mat-label>Columns</mat-label>
        <mat-select [(value)]="selectedColumns" (selectionChange)="updateColumnSelection($event)" multiple>
            <mat-select-trigger>
                {{ prettifyColumns(selectedColumns) }}
            </mat-select-trigger>
            @for (column of displayedColumns; track column) {
            <mat-option [value]="column">{{prettifyColumn(column)}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    }

    
    <!-- Search Field -->  
    <mat-form-field class="filter-field" appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="{{filterPlaceholder}}" #input>
    </mat-form-field>
    
    <!-- Grid View -->
    @if (viewMode == 'grid') {
    <div class="grid-view">
        @for (item of cardList | async; track item) {
            <mat-card class="card" (click)="cardClickAction(item)">
                <mat-card-header class="card-header">
                    <mat-card-title>
                        <ng-container *ngTemplateOutlet="cardTitleTemplate, context: { $implicit: item }"></ng-container>
                        @if (optionsMenu.length > 0) {
                            <!-- Menu Button -->
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                                (click)="$event.stopPropagation();">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <!-- Menu and items -->
                            <mat-menu #menu="matMenu" xPosition="before">
                                @for (action of optionsMenu; track action) {
                                <button mat-menu-item (click)="action.action(item);">{{action.label}}</button>
                                }
                            </mat-menu>
                        }
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <ng-container *ngTemplateOutlet="cardContentTemplate, context: { $implicit: item }"></ng-container>
                </mat-card-content>
            </mat-card>
        }
        @if ((this.list).length == 0) {
            <div class="error">
                @if (input.value == '') {
                    <h1 class="mat-h1">No data</h1>
                } @else {
                    <h1 class="mat-h1">No data matching the filter "{{input.value}}"</h1>
                }
            </div>
        }
    </div>
    } @else {

    <!-- Table View -->
    <table class="table" mat-table [dataSource]="dataSource" matSort>
        @for (column of selectedColumns; track column) {    
            <ng-container matColumnDef="{{column}}">
                <th class="table-header" mat-header-cell *matHeaderCellDef>{{column.replaceAll('_', ' ')}}</th>
                <td mat-cell class="table-cell" *matCellDef="let row">
                    <ng-template *ngTemplateOutlet="tableColumnsTemplate; context: {row: row, column: column, cell: row[column]}"></ng-template>
                </td>
            </ng-container>
        }
        
        <!-- Menu Button -->
        @if (optionsMenu.length > 0)
        {
        <ng-container matColumnDef="options">
            <th class="table-header" mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td class="table-cell table-option-cell" mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                    (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    @for (action of optionsMenu; track action) {
                    <button mat-menu-item (click)="$event.stopPropagation(); action.action(row);">{{action.label}}</button>
                    }
                </mat-menu>
            </td>
        </ng-container>
        }
        @if (showTableHeader) {
            <tr mat-header-row *matHeaderRowDef="displayedColumnsWithOptions"></tr>
        }
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithOptions;" class="row"
            (click)="rowClickAction(row);">
        </tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" style="text-align: center;" [attr.colspan]="displayedColumnsWithOptions.length">
                @if (input.value == '') {
                    No data
                } @else {
                    No data matching the filter "{{input.value}}"
                }
            </td>
        </tr>
    </table>
    }

    <!-- Paginator -->
    
    <mat-paginator class="paginator" 
                    [ngClass]="{'grid-paginator': viewMode == 'grid'}"
                    [pageSize]="10"
                    [pageSizeOptions]="[1, 2, 5, 10, 25, 100]" 
                    (page)="onPaginateChange($event)"
                    aria-label="Select page of users"></mat-paginator>
    <!-- </div> -->