<div class="tab-title">
    <h1>Polls</h1>
    <!-- Button Toggle between Table/Grid -->
    <mat-button-toggle-group class="view-toggle-group" value="table" #viewToggle="matButtonToggleGroup">
        <mat-button-toggle value="table">
            <mat-icon>view_list</mat-icon>Table
        </mat-button-toggle>
        <mat-button-toggle value="grid">
            <mat-icon>view_module</mat-icon>Grid
        </mat-button-toggle>
    </mat-button-toggle-group>
    <button class="add-button" *ngIf="can_add_polls" mat-flat-button color="primary" (click)="createPoll()">New Poll</button>
</div>

@if (pollList) {
<app-grid-or-table-view [filterPlaceholder]="'Filter Policies'" 
                        [viewMode]="viewToggle.value" 
                        [list]="pollList"
                        [optionsMenu]="optionsMenu" 
                        [rowClickAction]="getPoll.bind(this)" 
                        [displayedColumns]="displayedColumns">

    <!-- Card Title -->
    <ng-template #cardTitle let-item>
        Policy of {{item.name}}
    </ng-template>

    <!-- Card Content -->
    <ng-template #cardContent let-item>
        <div>
            Total: {{ item.permissions.length }} permissions
        </div>
        <mat-chip-listbox>
            @for (permission of item.permissions; track permission) {
            <mat-chip highlighted>{{ permission.replaceAll("_", " ") | titlecase }}</mat-chip>
            }
        </mat-chip-listbox>
    </ng-template>

    <!-- Table Columns -->
    <ng-template #tableColumns let-column="column" let-row="row" let-cell="cell">
        @switch (column){
            @case ('permissions') {
            <!-- <mat-chip-listbox>
                    @for (permission of cell; track permission) {
                    <mat-chip highlighted>{{ permission.replaceAll("_", " ") | titlecase }}</mat-chip>
                    }
                </mat-chip-listbox> -->
            <!-- @for (permission of cell; track permission) {
                    {{permission.replaceAll("_", " ")}}
                } -->
            <!-- {{ cell.join(", ").replaceAll("_", " ") | titlecase }} -->
            {{ cell.length }} permissions
            }
            @default {
                {{cell}}
            }
        }
    </ng-template>
</app-grid-or-table-view>
} @else {
<app-page-loading-spinner [error_message]="'Could not load polls'"
    [loading_message]="'Loading polls'"></app-page-loading-spinner>
}