<app-dialog [dialogTitle]="title" [dialogButtons]="buttons">
	<form [formGroup]="form">
		<div mat-dialog-content class="content">
			<div class="row">
				<mat-form-field appearance="outline" class="form-field">
					<mat-label>Workspace name {{ form.controls.name.errors }}</mat-label>
					<input matInput type="text" placeholder="My Workspace" formControlName="name">
                    @if (form.controls.name.hasError('nonUniqueName')) {
                        <mat-error>A workspace with such name already exists. Please choose another name.</mat-error>
                    }
                    @if (form.controls.name.hasError('required')) {
                        <mat-error>Workspace name is required.</mat-error>
                    }
                    @if (form.controls.name.hasError('minlength')) {
                        <mat-error>Workspace name must be at least 3 characters long.</mat-error>
                    }
                    @if (form.controls.name.hasError('maxlength')) {
                        <mat-error>Workspace name must be at most 50 characters long.</mat-error>
                    }
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="outline" class="form-field">
					<mat-label>Workspace Description</mat-label>
					<textarea matInput type="text" placeholder="Briefly describe this Workspace"
						formControlName="description"></textarea>
                    @if (form.controls.description.hasError('maxlength')) {
                        <mat-error>Workspace name must be at most 1000 characters long.</mat-error>
                    }
				</mat-form-field>
			</div>
		</div>
	</form>
</app-dialog>