<div mat-dialog-title class="title">
    <h1 class="mat-h1">Set Policy</h1>
  </div>
  <!-- <form [formGroup]="form" (ngSubmit)="onFormSubmit()"> -->
  <form>
    <div mat-dialog-content class="content">
    <mat-form-field class="chip-list">
      <mat-label>Allowed actions</mat-label>
      <mat-chip-grid #chipGrid aria-label="Permission selection">
        <mat-chip-row *ngFor="let permission of permissions" (removed)="remove(permission)" highlighted>
          {{ permission.replaceAll('_', ' ') | titlecase }}
          <button matChipRemove [attr.aria-label]="'remove ' + permission">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input placeholder="Select Permission..." #permissionInput [formControl]="permissionCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
        <!-- (matChipInputTokenEnd)="add($event)"/> -->
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let permission of filteredPermissions | async" [value]="permission">
            {{ permission.replaceAll('_', ' ') | titlecase }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>
  
    <!-- Submit Button -->
    <div mat-dialog-actions class="action">
      <button mat-flat-button type="button" [mat-dialog-close]="false" class="button">Cancel</button>
      <button mat-flat-button color="primary" type="submit" class="button" (click)="onFormSubmit()">Update</button>
    </div>
  </form>