<app-dialog [dialogTitle]="title" [dialogButtons]="buttons">
    <form>
        <mat-form-field class="chip-list">
            <mat-label>member to add</mat-label>
            <mat-chip-grid #chipGrid aria-label="member selection">
                @for (member of members; track member) {
                <mat-chip-row (removed)="remove(member)" highlighted>
                    {{member.first_name}} {{member.last_name}} ({{member.email}})
                    <button matChipRemove [attr.aria-label]="'remove ' + member">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
            <input placeholder="Select member..." #memberInput [formControl]="memberCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
            <!-- (matChipInputTokenEnd)="add($event)"/> -->
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
                @for (member of filteredMembers | async; track member) {
                <mat-option [value]="member">
                    {{member.first_name}} {{member.last_name}} ({{member.email}})
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </form>
</app-dialog>