<div class="tab-title">
    <h1>Policies</h1>
    <!-- <button class="add-button" *ngIf="can_add_members" mat-flat-button color="primary" (click)="addMember()">Add Member</button> -->
</div>
@if (policyList) {
<app-grid-or-table-view 
    [filterPlaceholder]="'Filter workspace'" 
    [viewMode]="'table'" 
    [list]="policyList"
    [optionsMenu]="optionsMenu" 
    [displayedColumns]="displayedColumns">

    <!-- Card Title -->
    <!-- <ng-template #cardTitle let-item>
        {{item.name}}
    </ng-template> -->

    <!-- Card Content -->
    <!-- <ng-template #cardContent let-item>
        {{item.description}}
    </ng-template> -->

    <!-- Table Columns -->
    <ng-template #tableColumns let-column="column" let-row="row" let-cell="cell">
        @switch (column){
            @case ('permissions') {
                <mat-chip-listbox>
                    @for (i of cell; track i) {
                    <mat-chip-option>{{ i.replaceAll("_", " ") | titlecase }}</mat-chip-option>
                    }
                </mat-chip-listbox>
            }
            @default {
                {{cell}}
            }
        }
    </ng-template>

</app-grid-or-table-view>
} @else {
    @if (isLoading) {
        <mat-spinner class="page-loading"></mat-spinner>
    } @else {
        <div class="error">
            <h1 class="title">Error</h1>
            <h2>Error loading workspaces</h2>
        </div>
    }
}