.add-question-button, .form-submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-submit{
    margin: 3em 0;
}

.submit-button{
    margin: 0 2em;
}

.divider{
    margin: 2em 0;
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.poll-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-question-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.editor {
    width: 80%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

// .side-menu {
//     width: 20%;
// }

.side-menu-content{
    position: fixed;
    margin-left: 2em;
    padding: 2em;
    min-height: 20em;
    align-items: center;
}

.side-menu-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 10em;

    mat-slide-toggle {
        margin: 1em 0;
    }
}