<app-dialog [dialogTitle]="title" [dialogButtons]="buttons">
	<form [formGroup]="form">
		<div mat-dialog-content class="content">
			<div class="row">
				<mat-form-field appearance="outline" class="form-field">
					<mat-label>Poll name</mat-label>
					<input matInput type="text" placeholder="My Poll" formControlName="name">
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="outline" class="form-field">
					<mat-label>Poll Description</mat-label>
					<textarea matInput type="text" placeholder="Briefly describe this Poll"
						formControlName="description"></textarea>
				</mat-form-field>
			</div>
		</div>
	</form>
</app-dialog>