@use '@angular/material' as mat;

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();

$my-palette: mat.define-palette(mat.$deep-purple-palette);
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

// $angular-dark-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $angular-primary,
//       accent: $angular-accent,
//       warn: $angular-warn,
//     ),
//   )
// );

// .darkMode {
//   @include mat.all-component-colors($angular-dark-theme);
// }

.page-title {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;

    &h1 {
        font-size: x-large;
        font-weight: 50;
        color: #ccc;
    }
}

.tab-title {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    &h1 {
        font-size: x-large;
        font-weight: 50;
        color: #ccc;
    }
}

.tab-title {
    margin: 2rem 0;
}

.add-button {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 16px !important;
}

.content {
    width: 60rem;
    max-width: 100%;
    padding-top: 1rem;
}

.mat-drawer-content {
    margin: 0 !important;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: center;

}


.table {
    width: 100%;
    border-collapse: collapse;
}

.card-header {
    padding: 0;
}

.table-header {
    text-transform: capitalize;
    text-align: center;
}

.table-cell {
    text-align: center;
}

tr.row:hover {
    background: whitesmoke;
}

tr.row:active {
    background: #efefef;
}

.paginator {
    width: 100%;
    border-top: #efefef 1px solid;
    // position: absolute;
    // bottom: 0;
}

.filter-field {
    // font-size: 14px;
    width: 100%;

    >.mat-mdc-form-field-subscript-wrapper {
        display: none;

    }
}

.table-option-cell.mdc-data-table__cell {
    text-align: right;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    // justify-content: center;
    // display: flex;
    // height: 100vh;
    // align-items: center;
    text-align: center;
}

.error.title {
    font-size: 2em; 
}

.overview-tab {
    margin: 2rem;
}

markdown p {
    margin: auto !important;
}

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;

    &.app-notification-error {
        --mdc-snackbar-container-color: #f23a2f;
        --mdc-snackbar-action-color: #ffffff;

        & .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
            color: #ffffff;
        }
    }

    &.app-notification-success {
        --mdc-snackbar-container-color: #27b62a;

        & .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
            color: #ffffff;
        }
    }
}

.page-loading {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    // margin: auto;
}