@use '@angular/material' as mat;
// @import '@angular/material/theming';


html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();
// @import "~@angular/material/theming";


// $light-palette: mat.define-palette(mat.$deep-purple-palette);
// $dark-palette: mat.define-palette(mat.$purple-green-palette);
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

$light-primary: mat.define-palette(mat.$deep-purple-palette);
$light-accent: mat.define-palette(mat.$amber-palette);
$light-warn: mat.define-palette(mat.$red-palette);

$dark-primary: mat.define-palette(mat.$purple-palette);
$dark-accent: mat.define-palette(mat.$lime-palette);
$dark-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
    ),
));

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
    ),
));


.light-theme {
    @include mat.all-component-colors($light-theme);
}

.dark-theme {
    @include mat.all-component-colors($dark-theme);
}

.page-title {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;

    &h1 {
        font-size: x-large;
        font-weight: 50;
        color: #ccc;
    }
}

.tab-title {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    &h1 {
        font-size: x-large;
        font-weight: 50;
        color: #ccc;
    }
}

.tab-title {
    margin: 2rem 0;
}

.add-button {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 16px !important;
}

.content {
    width: 60rem;
    max-width: 100%;
    padding-top: 1rem;
}

.mat-drawer-content {
    margin: 0 !important;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: center;

}

.light-theme {
    .card{
        border: 1px solid #ddd;
    }

    .card:hover, tr.row:hover {
        background: whitesmoke;
    }

    .card-content {
        border-top: 1px solid #ddd;
    }
}

.dark-theme {

    .more-button {
        color: #eee;
    }

    .card {
        // border: 1px solid #969696;
        border: 0;
    }

    .card:hover, tr.row:hover {
        background: #575757;
    }

    .card-content {
        border-top: 1px solid #969696;
    }
}

.overview-tab {
    margin: 2rem;
}

markdown p {
    margin: auto !important;
}

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;

    &.app-notification-error {
        --mdc-snackbar-container-color: #f23a2f;
        --mdc-snackbar-action-color: #ffffff;

        & .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
            color: #ffffff;
        }
    }

    &.app-notification-success {
        --mdc-snackbar-container-color: #27b62a;

        & .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
            color: #ffffff;
        }
    }
}

.page-loading {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    // margin: auto;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    // justify-content: center;
    // display: flex;
    // height: 100vh;
    // align-items: center;
    text-align: center;
}

.error.title {
    font-size: 2em; 
}